.button-margin {
  margin-top: 10px;
  margin-left: 10px;
}
.btn-visualizar {
  margin-right: 10px;
}
.input-dialog {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 1000px;
}
